@media (max-width:1200px) {
    body {
        font-size: calc(100vw/148.8);
    }
}

@media screen and (max-width: 768px) {
    .header__elements {
        flex-direction: column-reverse;
    }

    .contact__main {
        flex-direction: column;
    }

    .nav__elements {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .about .text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .header__img {
        width: 70%;
    }

    .nav__logo {
        width: 40px;
    }

    .header__info {
        text-align: center;
        align-items: center;
    }

    .nav__links {
        transition: 600ms;
        font-size: 2em;
        position: fixed;
        left: 0;
        transform: translate(0, -100%);
        right: 0;
        background: #00c6d4e9;
        padding: 48px;
        height: 100vh;
        z-index: -1;
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 996;
    }

    .nav__links.show {
        transform: translate(0,0);
        top: 0;
    }

    .nav__hamburger {
        display: block;
        z-index: 997;
    }

    h1 {
        text-align: center;
    }

    body {
        font-size: calc(100vw/70);
    }
}


@media (min-width:1201px) {
    body {
        font-size: 10px;
    }
}